<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dynamic Line of Blocks</title>
    <style>
        .container {
            display: flex;
            gap: 10px;
            padding: 10px;
        }
        .block {
            width: 50px;
            height: 50px;
            background-color: lightblue;
            text-align: center;
            line-height: 50px;
            font-weight: bold;
        }
    </style>
</head>
<body>

    <div class="container">
        {% for item in items %}
        <div class="block">{{ item }}</div>
        {% endfor %}

    </div>
</body>
</html>